
.register-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.register-content {
  width: 100%;
  
}

@media (max-width: 100px) {
  .register-content {
    max-width: 100%;
  }
}

.register-columns {
  display: flex;
}

@media (max-width: 100px) {
  .register-columns {
    flex-direction: column;
    align-items: stretch;
  }
}

.register-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 100px) {
  .register-image-column {
    width: 100%;
  }
}

.register-image-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #163020;
  width: 100%;
  padding: 40px 20px;
  box-sizing: initial;
}

@media (max-width: 991px) {
  .register-image-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

.register-image {
  width: 300px;
  max-width: 100%;
  object-fit: auto;
  object-position: center;
  margin-top: 241px;
}

@media (max-width: 991px) {
  .register-image {
    margin-top: 40px;
  }
}

.register-form-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .register-form-column {
    width: 100%;
  }
}

.register-form-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  background-color: #eef0e5;
  color: #163020;
  line-height: 100%;
  width: 100%;
}

@media (max-width: 991px) {
  .register-form-wrapper {
    max-width: 100%;
  }
}

.register-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  padding: 0 60px;
}

@media (max-width: 991px) {
  .register-form-content {
    max-width: 100%;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.register-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}

@media (max-width: 991px) {
  .register-heading {
    max-width: 100%;
  }
}

.register-title {
  justify-content: center;
  white-space: nowrap;
  font: 49px Inter, sans-serif;
}

@media (max-width: 991px) {
  .register-title {
    max-width: 100%;
    font-size: 1rem;
    white-space: initial;
  }
}

.register-subtitle {
  margin-top: 12px;
  font: 20px Inter, sans-serif;
}

@media (max-width: 991px) {
  .register-subtitle {
    max-width: 100%;
  }
}

.username-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .username-field {
    max-width: 100%;
  }
}

.username-label {
  font: 700 25px Inter, sans-serif;
}

@media (max-width: 991px) {
  .username-label {
    max-width: 100%;
  }
}

.username-input {
  align-items: start;
  border: 2px solid #163020;
  border-radius: 12px;
  margin-top: 12px;
  letter-spacing: -0.8px;
  justify-content: center;
  padding: 24px;
  font: 400 16px Inter, sans-serif;
}

@media (max-width: 991px) {
  .username-input {
    max-width: 100%;
    padding: 0 20px;
  }
}

.email-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .email-field {
    max-width: 100%;
  }
}

.email-label {
  font: 700 25px Inter, sans-serif;
}

@media (max-width: 991px) {
  .email-label {
    max-width: 100%;
  }
}

.email-input {
  align-items: start;
  border: 2px solid #163020;
  border-radius: 12px;
  margin-top: 12px;
  letter-spacing: -0.8px;
  justify-content: center;
  padding: 24px;
  font: 400 16px Inter, sans-serif;
}

@media (max-width: 991px) {
  .email-input {
    max-width: 100%;
    padding: 0 20px;
  }
}

.location-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .location-field {
    max-width: 100%;
    white-space: initial;
  }
}

.location-label {
  font: 700 25px Inter, sans-serif;
}

@media (max-width: 991px) {
  .location-label {
    max-width: 100%;
  }
}

.location-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #163020;
  border-radius: 12px;
  margin-top: 12px;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  padding: 24px;
}

@media (max-width: 991px) {
  .location-select {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
    padding: 0 20px;
  }
}

.location-option {
  font-family: Inter, sans-serif;
}

.location-arrow {
  width: 24px;
  aspect-ratio: 1.49;
  object-fit: auto;
  object-position: center;
  stroke-width: 3px;
  stroke: #b6c4b6;
  border: 3px solid #b6c4b6;
}

.password-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .password-field {
    max-width: 100%;
  }
}

.password-label {
  font: 700 25px Inter, sans-serif;
}

@media (max-width: 991px) {
  .password-label {
    max-width: 100%;
  }
}

.password-input {
  align-items: start;
  border: 2px solid #163020;
  border-radius: 12px;
  margin-top: 12px;
  letter-spacing: -0.8px;
  justify-content: center;
  padding: 24px;
  font: 400 16px Inter, sans-serif;
}

@media (max-width: 991px) {
  .password-input {
    max-width: 100%;
    padding: 0 20px;
  }
}

.signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #163020;
  margin-top: 24px;
  color: #eef0e5;
  padding: 22px 60px;
  font: 700 20px Inter, sans-serif;
}

@media (max-width: 991px) {
  .signup-button {
    max-width: 100%;
    padding: 0 20px;
  }
}

.divider {
  height: 3px;
  border-radius: 11px;
  background-color: #163020;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.google-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #163020;
  border-radius: 12px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 60px;
}

@media (max-width: 991px) {
  .google-signup {
    max-width: 100%;
    padding: 0 20px;
  }
}

.google-signup-content {
  display: flex;
  gap: 20px;
}

.google-icon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}

.google-signup-text {
  font-family: Inter, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.facebook-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #163020;
  border-radius: 12px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 60px;
}

@media (max-width: 991px) {
  .facebook-signup {
    max-width: 100%;
    padding: 0 20px;
  }
}

.facebook-signup-content {
  display: flex;
  gap: 20px;
}

.facebook-icon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}

.facebook-signup-text {
  font-family: Inter, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.login-link {
  letter-spacing: -0.8px;
  align-self: center;
  margin-top: 24px;
  font: 400 16px Inter, sans-serif;
}

.login-link-text {
  font-weight: 700;
}